name: CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.25.3']
  
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    
    - name: Cache Go modules
      uses: actions/cache@v4
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    
    - name: Download dependencies
      run: go mod download
    
    - name: Run tests
      run: go test ./... -v
    
    - name: Run tests with coverage
      run: go test ./... -coverprofile=coverage.out
    
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        file: ./coverage.out
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: false

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [test]
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25.3'
    
    - name: Build
      run: go build -v ./cmd/totion
    
    - name: Test build for multiple platforms
      run: |
        GOOS=windows GOARCH=amd64 go build -v ./cmd/totion
        GOOS=darwin GOARCH=amd64 go build -v ./cmd/totion
        GOOS=darwin GOARCH=arm64 go build -v ./cmd/totion
        GOOS=linux GOARCH=amd64 go build -v ./cmd/totion
        GOOS=linux GOARCH=arm64 go build -v ./cmd/totion
